<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You have taken the challenge!</h1>
    <p>You have three days to find three people to pledge. If you do not find three people you will no be allowed to donate.</p>
  </body>
</html>
